/*reset */
body {
  margin: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

/*end reset settings*/

.hd-principal {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  margin: 0 auto;
  align-items: center;
  height: 10vh;
  background-color: rgb(163, 163, 163);
  width: 100%;
}

.hd-brand {
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.mainmenuicon {

  padding-left: 20px;
}

.mainmenuicon:hover {
  cursor: pointer;
}

.closemenuicon {
  padding: 10px 10px 0 0;
  padding-right: 10px;
  display: block;
}

.mainmenu {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  position: fixed;
  top: -100vh;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: rgb(163, 163, 163);
  box-sizing: border-box;
}

.active {
  visibility: visible;
  transform: translateY(100vh);
  transition: all 500ms 100ms;

}

.ul-main-menu {
  padding: 20px 0px 0 20px;

}

.ul-main-menu li {
  padding: 3px;
  font-weight: bold;
  color: rgb(56, 56, 56);
  padding-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ul-main-menu li a:hover {
  color: rgb(117, 117, 117);
}

.closemenucontainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.main-content {
  padding: 20px;
  height: 84vh;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

}

.main-footer {
  width: 100%;
  height: 6vh;
  background-color: rgb(221, 218, 218);
}

.princ-artivle {
  width: 80%;
  margin: 0 auto;
}

.ul-list-tipoenvio {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid rgb(221, 218, 218);
  min-width: 500px;

}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(75, 75, 75);

}

.li-list-tipoenvio {
  display: flex;
  font-size: 20px;
  border-bottom: 1px solid rgb(221, 218, 218);
  box-sizing: border-box;
  padding: 15px;
  padding-left: 10px;
}

.li-list-tipoenvio:last-child {
  border: none;
}

.li-list-tipoenvio:nth-child(even) {
  background-color: rgb(221, 218, 218);
}

.list-tipoenvio-item {
  box-sizing: border-box;
  padding-right: 50px;
  min-width: 350px;
}

.list-tipoenvio-item a:hover {
  color: rgb(163, 163, 163);
  transition-property: all;
  transition-duration: 300ms;
}

#cmp_search {
  font-size: 20px;
}

.dv-header {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(221, 218, 218);
  border-bottom: 0;
}

.dv-header-form>label {
  margin-right: 10px;
}

.dv-header-form>input {
  margin-right: 10px;
}

.btn-buscar {
  font-size: 16px;
  padding: 4px;
  border-radius: 10%;
}

.rec-main-cont {
  border: 1px solid rgb(221, 218, 218);
  max-width: 80vw;
  min-width: 900px;
  margin: 0 auto;
}

.rec-main-cont h1 {
  text-align: center;
}

.rec-main-cont-grilla {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 4fr 2fr 2fr 4fr;
}

.titulos-grilla {
  font-size: 80%;

}

.elementos-grilla-rc {
  margin-top: 20px;
  box-sizing: border-box;
}

.cnt-brdr {
  border-bottom: 1px solid rgb(221, 218, 218);
  font-weight: bold;
  width: 90%;

}

.rc-inp-gr-cont {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.rec-main-cont-grilla input {
  box-sizing: border-box;
}